<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Recursos Humanos</title>
    <link rel="stylesheet" href="/css/pages/index/index.css">
    <script src="/css/js/pages/index/index.js" defer></script>
    <script src="/js/pages/index/index.js" defer></script>
    <script src="/js/pages/cadastrar_setor/cadastrar_setor.js" defer></script>
</head>

<body>
    <!-- Container Principal -->
    <div class="container">
        <!-- Menu lateral-->
        <%- include('partials/menu_lateral') %>

            <!-- Container dashboard-->
            <div class="dashboard-container">

                <!-- Header -->
                <%- include('partials/header') %>
                    <div class="container-forms">

                        <div class="forms">
                            <div class="container-titulo">
                                <div class="titulo-form">
                                    <h2>
                                        CADASTRAR SETOR
                                    </h2>
                                </div>
                                <div class="icon-back">
                                    <a href="/dashboard">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                            fill="rgba(170,178,190,1)">
                                            <path
                                                d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM12 11H16V13H12V16L8 12L12 8V11Z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <form id="formulario-setor">
                                <label for="nomeSetor">Nome do Setor:</label>
                                <input type="text" id="nomeSetor" name="nomeSetor" placeholder="Nome do setor" required>

                                <label for="endereco">Endereço:</label>
                                <input type="text" id="endereco" name="endereco" placeholder="Endereço" required>

                                <label for="responsavel">Responsável:</label>
                                <input type="text" id="responsavel" name="responsavel" placeholder="Responsável"
                                    required>

                                <label for="email">E-mail:</label>
                                <input type="email" id="email" name="email" placeholder="E-mail" required>

                                <button class="btn-cadastrar" type="submit" onclick="validar(event)">Cadastrar
                            </form>
                        </div>
                    </div>
            </div>
</body>

</html>