<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Recursos Humanos</title>
    <link rel="stylesheet" href="/css/pages/index/index.css">
    <script src="/js/pages/index/index.js" defer></script> <!-- Menu lateral -->
    <script src="/js/pages/cadastrar_funcionario/cadastrar_funcionario.js" defer></script>
</head>

<body>
    <!-- Container Principal -->
    <div class="container">
        <!-- Menu lateral-->
        <%- include('partials/menu_lateral') %>

            <!-- Container dashboard-->
            <div class="dashboard-container">

                <!-- Header -->
                <%- include('partials/header') %>
                    <div class="container-forms">

                        <div class="forms">
                            <div class="container-titulo">
                                <div class="titulo-form">
                                    <h2>
                                        CADASTRAR FUNCIONARIO
                                    </h2>
                                </div>
                                <div class="icon-back">
                                    <a href="/dashboard">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                            fill="rgba(170,178,190,1)">
                                            <path
                                                d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM12 11H16V13H12V16L8 12L12 8V11Z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <form id="formulario-funcionario">
                                <label for="nomeFuncionario">Nome do Funcionario:</label>
                                <input type="text" id="nomeFuncionario" name="nomeFuncionario"
                                    placeholder="Nome do Funcionario" required>

                                <label for="cpfFuncionario">CPF:</label>
                                <input type="text" id="cpfFuncionario" name="cpfFuncionario"
                                    placeholder="CPF do Funcionario" required>

                                <label for="nascFuncionario">Data de Nascimento:</label>
                                <input type="date" id="nascFuncionario" name="nascFuncionario"
                                    placeholder="Data de Nascimento" required>

                                <label for="sexo">Sexo:</label>
                                <input type="text" id="sexo" name="sexo" placeholder="Masculino ou Feminino" required>

                                <label for="nascFuncionario">Data de Nascimento:</label>
                                <input type="date" id="nascFuncionario" name="nascFuncionario" placeholder="Data de Nascimento" required>

                                <label for="sexo">Sexo:</label>
                                <input type="text" id="sexo" name="sexo" placeholder="Masculino ou Feminino" required>

                                <label for="endereco">Endereço:</label>
                                <input type="text" id="endereco" name="endereco" placeholder="Endereço" required>

                                <label for="municipio">Município:</label>
                                <input type="text" id="municipio" name="municipio" placeholder="Município" required>

                                <label for="email">E-mail:</label>
                                <input type="email" id="email" name="email" placeholder="nome@mail.com">

                                <label for="telefone">Telefone:</label>
                                <input type="tel" id="telefone" name="telefone" placeholder="(99) 9 9999-9999">

                                <label for="dependentes">Dependentes:</label>
<<<<<<< HEAD
                                <input type="number" id="dependentes" name="dependentes"
                                    placeholder="Número de Dependentes" required>

                                <label for="agenciaBancaria">Agência Bancária:</label>
                                <input type="number" id="agenciaBancaria" name="agenciaBancaria"
                                    placeholder="Agência Bancária" required>

                                <label for="contaBancaria">Conta Bancária:</label>
                                <input type="number" id="contaBancaria" name="contaBancaria"
                                    placeholder="Conta Bancária" required>

                                <label for="dataAdmissao">Data de Admissão:</label>
                                <input type="date" id="dataAdmissao" name="dataAdmissao" placeholder="Data de Admissão"
                                    required>

                                <div class="label-container">

                                    <div class="radioLabel" id="status">
                                        <input type="radio" id="func_ativo" name="situacao" value="Ativo" required>
                                        <label class="radio_label" for="func_ativo">Ativo</label>
                                
                                        <input type="radio" id="func_inativo" name="situacao" value="Inativo" required>
                                        <label class="radio_label" for="func_inativo">Inativo</label>
                                    </div>
                                </div>
=======
                                <input type="number" id="dependentes" name="dependentes" placeholder="Número de Dependentes" required>

                                <label for="agenciaBancaria">Agência Bancária:</label>
                                <input type="number" id="agenciaBancaria" name="agenciaBancaria" placeholder="Agência Bancária" required>

                                <label for="contaBancaria">Conta Bancária:</label>
                                <input type="number" id="contaBancaria" name="contaBancaria" placeholder="Conta Bancária" required>
                                
                                <label for="dataAdmissao">Data de Admissão:</label>
                                <input type="date" id="dataAdmissao" name="dataAdmissao" placeholder="Data de Admissão" required>
>>>>>>> 62922dd9312582347597cdb43926c337ca505376

                                <button class="btn-cadastrar" type="submit" onclick="validar(event)">Cadastrar
                            </form>
                        </div>
                    </div>
            </div>
</body>

</html>