<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Recursos Humanos</title>
    <link rel="stylesheet" href="/css/pages/index/index.css">
    <script src="/css/js/pages/index/index.js" defer></script>
    <script src="/js/pages/index/index.js" defer></script>
    <script src="/js/pages/cadastrar_funcionario/cadastrar_funcionario.js" defer></script>
    <script src="/js/pages/partials/btn_limpar_form.js" defer></script>
</head>

<body>
    <!-- Container Principal -->
    <div class="container">
        <!-- Menu lateral-->
        <%- include('partials/menu_lateral') %>

            <!-- Container dashboard-->
            <div class="dashboard-container">

                <!-- Header -->
                <%- include('partials/header') %>
                    <div class="container-forms">

                        <div class="forms">
                            <div class="container-titulo">
                                <div class="titulo-form">
                                    <h2>
                                        LISTA DE FUNCIONARIOS
                                    </h2>
                                </div>
                                <div class="icon-back">
                                    <a href="/dashboard">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                            fill="rgba(170,178,190,1)">
                                            <path
                                                d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM12 11H16V13H12V16L8 12L12 8V11Z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </div>

                            <form id="formulario-setor">
                                <label for="nomeSetor">Pesquisar Funcionario</label>
                                <div class="input-container">
                                    <input type="text" id="nomeSetor" name="nomeSetor" placeholder="Pesquisar Setor"
                                        required>
                                    <a href="#" class="icon-search">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                            <path
                                                d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </form>
                            <!-- Tabela / herdando os cards -->
                            <div class="dashboard">
                                <div class="cards-4">
                                    <div class="card-4">
                                        <h3>Funcionários</h3>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nome do Funcionario</th>
                                                    <th>CPF</th>
                                                    <th>Cargo</th>
                                                    <th>Município</th>
                                                    <th>Status</th>
                                                    <th>Ação</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>José da Silva</td>
                                                    <td>000.000.000-00</td>
                                                    <td>Analista de Sistema</td>
                                                    <td>Assaré</td>
                                                    <td>Ativo</td>
                                                    <td class="action-icons">
                                                        <a href="editar.html" title="Editar">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                                fill="currentColor" class="icon">
                                                                <path
                                                                    d="M15.7279 9.57627L14.3137 8.16206L5 17.4758V18.89H6.41421L15.7279 9.57627ZM17.1421 8.16206L18.5563 6.74785L17.1421 5.33363L15.7279 6.74785L17.1421 8.16206ZM7.24264 20.89H3V16.6473L16.435 3.21231C16.8256 2.82179 17.4587 2.82179 17.8492 3.21231L20.6777 6.04074C21.0682 6.43126 21.0682 7.06443 20.6777 7.45495L7.24264 20.89Z">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                        <a href="deletar.html" title="Deletar"
                                                            onclick="return confirm('Tem certeza que deseja deletar?');">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                                fill="currentColor" class="icon">
                                                                <path
                                                                    d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Antonio de Sousa</td>
                                                    <td>111.111.111-11</td>
                                                    <td>Agente de RH</td>
                                                    <td>Nova Olinda</td>
                                                    <td>Inativo</td>
                                                    <td class="action-icons">
                                                        <a href="editar.html" title="Editar">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                                fill="currentColor" class="icon">
                                                                <path
                                                                    d="M15.7279 9.57627L14.3137 8.16206L5 17.4758V18.89H6.41421L15.7279 9.57627ZM17.1421 8.16206L18.5563 6.74785L17.1421 5.33363L15.7279 6.74785L17.1421 8.16206ZM7.24264 20.89H3V16.6473L16.435 3.21231C16.8256 2.82179 17.4587 2.82179 17.8492 3.21231L20.6777 6.04074C21.0682 6.43126 21.0682 7.06443 20.6777 7.45495L7.24264 20.89Z">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                        <a href="deletar.html" title="Deletar"
                                                            onclick="return confirm('Tem certeza que deseja deletar?');">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                                fill="currentColor" class="icon">
                                                                <path
                                                                    d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>3</td>
                                                    <td>Cy Vilanova</td>
                                                    <td>222.222.222-22</td>
                                                    <td>CEO</td>
                                                    <td>Tarrafas</td>
                                                    <td>Ativo</td>
                                                    <td class="action-icons">
                                                        <a href="editar.html" title="Editar">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                                fill="currentColor" class="icon">
                                                                <path
                                                                    d="M15.7279 9.57627L14.3137 8.16206L5 17.4758V18.89H6.41421L15.7279 9.57627ZM17.1421 8.16206L18.5563 6.74785L17.1421 5.33363L15.7279 6.74785L17.1421 8.16206ZM7.24264 20.89H3V16.6473L16.435 3.21231C16.8256 2.82179 17.4587 2.82179 17.8492 3.21231L20.6777 6.04074C21.0682 6.43126 21.0682 7.06443 20.6777 7.45495L7.24264 20.89Z">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                        <a href="deletar.html" title="Deletar"
                                                            onclick="return confirm('Tem certeza que deseja deletar?');">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                                fill="currentColor" class="icon">
                                                                <path
                                                                    d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </td>
                                                </tr>
                                                


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim da tabela -->
                        </div>
                    </div>
            </div>
</body>

</html>