.container-forms {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.container-titulo {
    margin-bottom: 50px;
    font-size: var(--f01);
    margin-top: 10px;
    color: var(--cor-cinzatit);
    font-weight: 700;
}

form label {
    margin-bottom: 5px;
    color: var(--cor-cinzaforms);
    font-size: var(--f2);
    font-weight: 600;
}

form input {
    margin-bottom: 15px;
    display: flex;
    height: 30px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;
}

input::placeholder {
    color: var(--cor-cinzaplace);
}

.container-titulo {
    justify-content: space-between;
    display: flex;
}

.icon-back svg {
    width: 30px;
    height: 30px;
    display: flex;
    margin-left: auto;
    fill: var(--cor-azulmedio);
}

@media (max-width: 768px) {

    .container-forms {
        margin-left: auto;
    }
}