<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Recursos Humanos</title>
    <link rel="stylesheet" href="../assets/css/pages/index/index.css">
    <script src="../assets/js/pages/index/index.js" defer></script>
    <script src="../assets/js/pages/cadastrar_setor/cadastrar_setor.js" defer></script>
</head>

<body>
    <div class="container-login">
        <div class="barra-lateral">
            <div class="container-text">
                <div class="logo"><img src="../assets/css/images/logo/Vector.png" alt="Logo"></div>
                <div class="text_login">
                    <h1>Seja Bem Vindo!</h1>
                    <h2>Sistema de Recursos Humanos</h2>
                    <h2 class="link-chamada"><a href="">Conheça nossos planos!</a></h2>
                </div>
            </div>
        </div>


        <div class="login-container-2">
            <div class="container-forms-login">
                <div class="forms-login">
                    <div class="container-titulo">
                        <div class="titulo-form">
                            <h2 class="h2-login">
                                Login
                            </h2>
                        </div>

                    </div>
                    <form id="formulario-setor">
                        <input class="imput_login" type="text" id="nomeSetor" name="nomeSetor" placeholder="E-mail" required>

                        <input class="imput_login" type="password" id="endereco" name="endereco" placeholder="Senha" required>
                        
                        <div class="par-recuperar"> <p><a href="recuperar_login.html"> <strong>Esqueci minha senha</strong></a></p></div>

                        <a href="../index.html" class="btn-login" >Entrar</a>
                        
                       <div class="par-login"> <p >Não é registrado? <a href="../templates/cadastrar_usuario.html"> <strong>Criar sua conta</strong></a></p></div>
                    </form>
                </div>
            </div>
        </div>
</body>

</html>